body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #f5eeee, #201e1ec9);

  /* background: linear-gradient(to bottom, #ffffff, #d1eaff); */
}

.signup-form {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.form-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

.input-field:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}
.submit-button p{
  color: black !important;
}

.submit-button:hover {
  background-color: rgb(73, 71, 71);
}
.login-link{
  color: red;
}
@media screen and (max-width: 480px) {
  .signup-form {
    padding: 20px 30px;
  }

  .form-title {
    font-size: 1.5rem;
  }
}
